Data/higgs-social_network.edgelist
Data/*.edgelist
__pycache__/
**/.DS_store
*.lprof
*.prof
Report/*.log
Report/*.bbl
Report/*.blg
Report/*.out
Report/*.aux
Report/*.gz
Report/*.dvi
Report/*.fdb_latexmk
Report/*.fls
.ipynb_checkpoints/*

questions.txt
all.txt
out3.txt

Data/in_subgraphs/social.txt
Data/out_subgraphs/*
